@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .btn-style {
        @apply flex items-center justify-center bg-black w-20 h-20 hover:bg-[#444444] transition-colors;
    }
}

.active {
    opacity: 0 !important;
}

.img-0 {
    background-image: url("./assets/desktop-image-hero-0.jpg");
    opacity: 1;
}

.img-1 {
    background-image: url("./assets/desktop-image-hero-1.jpg");
    opacity: 1;
}

.img-2 {
    background-image: url("./assets/desktop-image-hero-2.jpg");
    opacity: 1;
}